
/*Legend*/
.legend {
  padding: 6px 8px;
  position: relative;
  font: 12px Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  line-height: 24px;
  z-index: -10000;
}
.legend h4 {
  text-align: center;
  font-size: 14px;
  margin: 2px 12px 8px;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 1;
}


